{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}


{% if request.user.is_authenticated %}
<div class="grid grid-cols-3 p-10 lg:p-10 flex space-x-20 justify-center items-center h-screen">

    <div class="bg-white p-10 rounded-lg shadow-md">
        <h1 class="text-xl font-bold">Host a chat room</h1>
        <div class="mt-4 mb-4">
          <p class="text-gray-600">Create a public chat or a private chat. </p>
        </div>

        <button class="bg-orange-400 py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Start Hosting</button>
    </div>

    <div class="bg-white p-10 rounded-lg shadow-md">
        <h1 class="text-xl font-bold">Start Chatting</h1>
        <div class="mt-4 mb-4">
          <p class="text-gray-600">Join one of the existing chat rooms. </p>
        </div>

        <button class="bg-orange-400 py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Browse Chat Rooms</button>
    </div>

    <div class="bg-white p-10 rounded-lg shadow-md">
        <h1 class="text-xl font-bold">Get Practice</h1>
        <div class="mt-4 mb-4">
          <p class="text-gray-600">Practice you speaking and writing skills through games. </p>
        </div>

        <button class="bg-orange-400 py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Browse games</button>
    </div>
</div>
{% else %}
<div class="p-14 lg:p-28 text-center">
    <!-- adjust size based on type of device -->
    <h1 class="text-4xl lg:text-9xl text-white">Lingroove</h1>
</div>
<div class="p-15 lg:p-30 text-center">
    <h2 class="text-2xl lg:text-4xl text-white">A place that gathers both language learners and native speakers</h2>
</div>
{% endif %}
{% endblock %}