{% extends 'core/index.html' %}
{% load crispy_forms_filters %}

{% block title %}Sign Up | {% endblock %}

{% block content %}

<div class="p-5 lg:p-10 text-center">
    <!-- adjust size based on type of device -->
    <h1 class="text-2xl lg:text-4xl text-white">Sign up</h1>
</div>

<form method="post" action="" class="lg:w-1/4 px-4 mx-auto">
    <!-- add token here for security -->
    {% csrf_token %}
    <div class="mb-5">
        <label class="text-white">Username</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
        <div class="help_text"> {{ form.username.help_text }} </div>
    </div>

    <div class="mb-5">
        <label class="text-white">Email</label>
        <input type="text" name="email" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>

    <div class="mb-5">
        <label class="text-white">Password</label>
        <input type="password" name="password1" class="w-full mt-2 px-4 py-2 rounded-xl">
        <div class="help_text"> {{ form.password1.help_text }} </div>
    </div>

    <div class="mb-5">
        <label class="text-white">Password confirmation</label>
        <input type="password" name="password2" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <style>
        .help_text {
            color: lightyellow;
        }
    </style>

    <!-- check for errors in the form for each of the fields -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="px-5 py-3 rounded-xl text-white bg-sky-700 hover:bg-sky-600">Submit</button>
</form>

<div class="mb-5">
    <p class="text-center text-white py-2">If you already have an account, <a href="/login" class="hover:bg-teal-500"><u>login</u></a> instead.</p>
</div>
{% endblock %}